<!DOCTYPE html>
<html lang="en">

<head>

    <title>Browse | CommonGrounds</title>
    <!-- Bootstrap 5 CSS -->
    <%- include('../partials/head'); %>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="js/accounts.js"></script>
</head>

<body>
    <%- include('../partials/loggedheader'); %>
        <nav class="justify-content-center nav-fill" id="genreButtons">
            <button class="btn btn-primary genreButton" type="button" id="suggestedartists">Suggested</button>
            <button class="btn btn-primary genreButton" type="button" id="rock">Rock</button>
            <button class="btn btn-primary genreButton" type="button" id="punk">Punk</button>
            <button class="btn btn-primary genreButton" type="button" id="pop">Pop</button>
            <button class="btn btn-primary genreButton" type="button" id="rap">Rap</button>
        </nav>
        <div class="container-my-5">
            <div class="row">
                <div class="col-md-6">
                    <h1>Explore for new artists</h1>
                    <div class="">
                        <div id="tableContainer" class="table table-responsive-lg table-dark table-striped"></div>
                    </div>
                    </section>
                </div>
                <div class="col-md-4">
                    <img src="https://via.placeholder.com/500x500" alt="CommonGrounds Image" class="img-fluid">
                </div>
            </div>
        </div>


        <%- include('../partials/footer'); %>

            <!-- Bootstrap 5 JS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>