<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CommonGrounds</title>
    <!-- Bootstrap 5 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="#">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/accounts.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">CommonGrounds</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/browse">Browse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/stats">Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/messageboard">MessageBoard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <nav class="justify-content-center nav-fill" id="genreButtons">
        <button class="btn btn-primary genreButton" type="button" id="suggestedartists">Suggested</button>
        <button class="btn btn-primary genreButton" type="button" id="rock">Rock</button>
        <button class="btn btn-primary genreButton" type="button" id="punk">Punk</button>
        <button class="btn btn-primary genreButton" type="button" id="pop">Pop</button>
        <button class="btn btn-primary genreButton" type="button" id="rap">Rap</button>
    </nav>
    <div class="container-my-5">
        <div class="row">
            <div class="col-md-6">
                <h1>Explore for new artists</h1>
                <div class="">
                    <div id="tableContainer" class="table table-responsive-lg table-dark table-striped"></div>
                </div>
                </section>
            </div>
            <div class="col-md-4">
                <img src="https://via.placeholder.com/500x500" alt="CommonGrounds Image" class="img-fluid">
            </div>
        </div>
    </div>


    <footer class="bg-light py-3">
        <div class="container">
            <p class="text-center">&copy; 2023 CommonGrounds</p>
        </div>
    </footer>

    <!-- Bootstrap 5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>