<!DOCTYPE html>
<html lang="en">

<head>

    <title>Message Boards | CommonGrounds</title>
    <%- include('../partials/head'); %>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="js/messageboard.js"></script>
</head>

<body>
    <%- include('../partials/loggedheader'); %>
        <nav class="nav-pills justify-content-center nav-justified" id="genreTalkButtons">
            <button class="btn btn-primary genreTalkButton" type="button" id="alltalk">All talk</button>
            <button class="btn btn-primary genreTalkButton" type="button" id="rocktalk">Rock</button>
            <button class="btn btn-primary genreTalkButton" type="button" id="punktalk">Punk</button>
            <button class="btn btn-primary genreTalkButton" type="button" id="poptalk">Pop</button>
            <button class="btn btn-primary genreTalkButton" type="button" id="raptalk">Rap</button>
        </nav>
        <!-- <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <div id="tableContainer"></div>
                <div class="form-group">
                    <input type="text" id="messageContentInput" class="form-control" placeholder="Enter your message">
                    <button id="sendMessageButton" class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div> -->
        <div class="container my-5">
            <div class="row">
                <div class="col-md-12">
                    <div id="tableContainer"></div>
                    <div class="form-group">
                        <input type="text" id="messageContentInput" class="form-control"
                            placeholder="Enter your message">
                        <select id="genreSelect" class="form-control">
                            <option value="alltalk">All Talk</option>
                            <option value="rocktalk">Rock</option>
                            <option value="punktalk">Punk</option>
                            <option value="poptalk">Pop</option>
                            <option value="raptalk">Rap</option>
                        </select>
                        <button id="sendMessageButton" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h1>The Message Boards</h1>
                    <p class="lead">Got something to say?</p>
                </div>
                <div class="col-md-6">
                    <img src="https://via.placeholder.com/500x500" alt="CommonGrounds Image" class="img-fluid">
                </div>
            </div>
        </div>

        <%- include('../partials/footer'); %>
            <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> -->
</body>

</html>