<!-- Boilerplate page that says they've been logged in and has a link to go to account.ejs -->

<html>

<head>
    <title>Spot Callback</title>
</head>

<body>
    <h1>Spot Callback</h1>
    <p>You have been logged in.</p>
    <a href="/account">Go to account</a>

</html>